/* Estilos para el contenedor del formulario */
/* Estilos para el contenedor del formulario */
.formcontainer {
  display: inline-table;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/50/21/3c/50213c5fdfc7d3b860e68f410ef1c9b3.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px;
  border: 10px solid #a49b17;
}

  
/* Estilos para el fondo */
.formcontainer::before {
  content: "";
  background-color: transparent;
  /* background-image: url("https://www.enjpg.com/img/2020/rick-and-morty-3.png"); */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5; 
  z-index: -5;
}

  
  /* Estilos para el título */
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos para el campo de correo electrónico */
  .emailfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    margin-bottom: 10px;
    color: #10f903;
  }
  
  .emailfieldlabel {
    font-weight: bold;
    color: #0073ff !important;
  }
  
  .emailfieldinput {
    padding: 5px;
  }
  
  /* Estilos para el campo de contraseña */
  .passwordfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    margin-bottom: 100px;
    color: #10f903;
    
  }
  
  .passwordfieldlabel {
    font-weight: bold;

    color: #0073ff !important;
  }
  
  .passwordfieldinput {
    padding: 5px;
  }
  
  /* Estilos para el botón de enviar */
  .submitbutton {
    padding: 10px 30px;
    background-color: #f2f0f0;
    color: #0d0d0d;
    font-size: 18px;
    border: 2px solid #10100f;
    cursor: pointer;
  }
  
  /* Estilos para los mensajes de error */
  .errormessage {
    color: rgb(220, 239, 15);
    margin-top: 10px;
  }
  